* {
    font-family: sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to top right, #E4004B, #ED775A);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: none;
    margin: 0;
    max-width: 100vw;
}
body::before {
    content: '';
    position: absolute;
    top: -150%; 
    left: -150%; 
    
    width: 400%; 
    height: 400%; 
    
    background: linear-gradient(0deg, #E4004B, #ED775A); 
    
    animation: gradientRotate 10s ease-in-out infinite alternate;
    z-index: -1; 
}

@keyframes gradientRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 25px;
    border: 2px solid black;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    background-image: linear-gradient(to top right, #E4004B, #ED775A);
    padding: 10px;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

nav {
    width: 200px;
    padding-left: 80px;
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 4rem;
}

i {
    font-size: 1.5rem;
    color: white;
}

/* TAGS AND CLASSES */

#content {
    width: 95%;
    margin: 20px;
    background-color: #EBE8DB;
    border-radius: 25px;
}

.peopleHolder {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.newPersonModal, .viewPersonModal .changeStatusModal {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 600vh;
    padding: 50px;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.person {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.person h4 {
    width: 18%;
}
.person i {
    color: black;
}

.menuItem {
    width: 180px;
    height: 40px;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}
.menuItem:hover {
    background-color: #4A102A;
}
#activeItem {
    background-color: white;
    color: #433544;
}


#activeItem i {
    color: #433544;;
}

#loginForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 29vh;
    padding: 50px;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}

#signupForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 35vh;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}

#login {
    background-color: #85193C;
    color: white;
    height: 4vh;
    width: 120px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    align-self: center;
    transition: 0.2s;
}
#login:hover {
    background-color: #4A102A;
}

#signUp {
    background-color: #FFFFFF;
    border: none;
    color: #B95E82;
    font-weight: bold;
    transition: 0.2s;
}
#signUp:hover {
    font-weight: bolder;
    transform: scale(1.1f);
    transform: translateY(-2px);
    transition: 0.2s;
}

.internalHeader {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goalAdder {
    width: 70%;
    height: 160px;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.20);
    text-align: center;
    border-radius: 20px;
}

.lowerContainer {
    margin-top: 80px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.iconList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.icon, .bigIcon {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon {
    background-color: white;
    width: 18%;
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.20);
    border-radius: 25px;
}

.bigIcon {
    background-color: white;
    width: 32%;
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.keyIndicators {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 0;
    align-items: center;
}
.keyIndicators li {
    font-size: 40px;
}
.keyIndicators .current {
    font-size: 80px;
    font-weight: bold;
}

.goal-int {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.viewPersonModal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.viewPersonModal * {
    width: 45%;
}

.note {
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
}
.note * {
    margin: 0;
}

#newBtn {
    background-image: linear-gradient(to top right, #E4004B, #ED775A);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#newBtn:hover {
    background-image: linear-gradient(to top right, #4A102A, #E4004B);
    transition: 0.2s;
    cursor: pointer;
}

.status {
    width: 140px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Conversation {
    background-color: rgb(75, 192, 192);
    transition: 0.2s;
}
#Conversation:hover {
    background-color: rgb(20, 156, 156);
    transition: 0.2s;
    cursor: pointer;
}
#Connection {
    background-color: rgb(255, 75, 192);
    transition: 0.2s;
}
#Connection:hover {
    background-color: rgb(219, 36, 155);
    transition: 0.2s;
    cursor: pointer;
}
#Friendship {
    background-color: rgba(247, 167, 62, 1);
    transition: 0.2s;
}
#Friendship:hover {
    background-color: rgb(199, 130, 39);
    transition: 0.2s;
    cursor: pointer;
}
#Dating {
    background-color: rgba(130, 255, 119, 1);
    transition: 0.2s;
}
#Dating:hover {
    background-color: rgb(97, 201, 87);
    transition: 0.2s;
    cursor: pointer;
}